.pio
led_controller/.vscode/
.vscode/

# Python virtual environments
.venv/
led_controller/raspberry_pi/uv.lock


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
*.DS_Store


# Raspberry Pi specific
*.log
