.pio
led_controller/.vscode/.browse.c_cpp.db*
led_controller/.vscode/c_cpp_properties.json
led_controller/.vscode/launch.json
led_controller/.vscode/ipch
led_controller/.vscode/extensions.json
led_controller/.vscode/settings.json

# Python virtual environments
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Raspberry Pi specific
*.log
