[Unit]
Description=WhaleSong
After=sound.target

[Service]
Type=simple
ExecStart=/home/gourd/gourd/gourd_led_controller/led_controller/raspberry_pi/sound/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
